.DS_Store
coverage/**/*
.rubocop-upgraded.yml
disabled-upgraded.yml
enabled-upgraded.yml
CoverallsRakefile
analysis/**/*
.gitignore-analysis


coverage
.rspec
.rubocop.yml.ruby-version
.travis.yml
Gemfile.lock
LICENSE
Rakefile