.DS_Store
coverage/**/*
.rubocop-upgraded.yml
disabled-upgraded.yml
enabled-upgraded.yml
CoverallsRakefile
analysis/**/*
.gitignore-analysis
airport-challenge-domain-model.csv
spec_copy/**/*
lib_copy/**/*
spec/feature_tests.rb
