
------------------------------------------------------------

As an air traffic controller 
So I can get passengers to a destination 
I want to instruct a plane to land at an airport

----

Scenario: User is an air traffic controller interacting with the program
GIVEN: there is an aeroplane wanting to land
WHEN: the airport instructs the plane to land
THEN: the airpot receives the plane


------------------------------------------------------------

As an air traffic controller 
So I can get passengers on the way to their destination 
I want to instruct a plane to take off from an airport and confirm that it is no longer in the airport

----

Scenario: User is an air traffic controller interacting with the program
GIVEN: the plane which landed now wants to takeoff
WHEN: the airport instructs the plane to takeoff
THEN: the airpot releases the plane

------------------------------------------------------------

As an air traffic controller 
To ensure safety 
I want to check to see if the weather is stormy

Scenario: User is an air traffic controller interacting with the program
GIVEN: the weather is stormy
WHEN: I check the weather report
THEN: it tells me the weather is stormy

------------------------------------------------------------

As an air traffic controller 
To ensure safety 
I want to prevent takeoff when weather is stormy

Scenario: User is an air traffic controller interacting with the program
GIVEN: the plane which landed now wants to takeoff
WHEN: the weather is stormy
THEN: the airpot does not release the plane

------------------------------------------------------------


As an air traffic controller 
To ensure safety 
I want to prevent landing when weather is stormy 

Scenario: User is an air traffic controller interacting with the program
GIVEN: a plane wants to land
WHEN: the weather is stormy
THEN: the airpot does not allow the plane to land

------------------------------------------------------------

As an air traffic controller 
To ensure safety 
I want to prevent landing when the airport is full 

Scenario: User is an air traffic controller interacting with the program
GIVEN: a plane wants to land
WHEN: the airport is full
THEN: the airpot does not allow the plane to land

------------------------------------------------------------

As the system designer
So that the software can be used for many different airports
I would like a default airport capacity that can be overridden as appropriate


------------------------------------------------------------
------------------------------------------------------------

Domain Modelling

Objects:
Plane
Airport : runway_land / runway_takeoff
Weather : stormy?



Airport.runway_land -> Plane
Airport.runway_takeoff -> Plane
Airport.runway_takeoff -> Weather.stormy?
Airport.runway_land -> Weather.stormy?




